.anexa1,
.anexa2,
.anexa3,
.anexa4 {
    width: 100%;
    height: 150px;
    text-align: center;
}

.angajat-engie {
    width: 30%;
    text-align: center;
    font-weight: 600;
}

.info-angajat {
    text-align: center;
}